@charset "UTF-8";

* {
    /*height: 100%;*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas Absolutas 
    cm, mm, in (polegada), px , pt, pc
    
    Medidas Relativas
    em ( medida atual da fonte) 
    ex (altura x de uma fonte)
    rem ( fonte configurada no bady)
    vw (tamanho da tela - largura)
    vh (altura da view port)
    %
    16px geralmente = 1em
    */
    font-size: 1em;
}
h1{
 
    font-family: 'work Sans' sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;

    /* shorthand font (maozinha) 
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    fonte-size: 3em;
    font-style: italic;

    - font-style => font-weight => font-size => font-family     
    */

    font: italic bolder 3em 'Work Sans', sans-serif;
}